<?xml version="1.0"?>
<config>
    <modules>
        <ABSoft_StoreListing>
            <version>0.1.1</version>
        </ABSoft_StoreListing>
    </modules>
    <frontend>
        <routers>
            <storelisting>
                <use>standard</use>
                <args>
                    <module>ABSoft_StoreListing</module>
                    <frontName>storelisting</frontName>
                    <modules>
                        <absoft_storelisting before="ABSoft_StoreListing">ABSoft_StoreListing_test</absoft_storelisting>
                    </modules>
                </args>
            </storelisting>
        </routers>
        <layout>
            <updates>
                <storelisting>
                    <file>storelisting.xml</file>
                </storelisting>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <storelisting>
                <class>ABSoft_StoreListing_Helper</class>
            </storelisting>
        </helpers>
        <blocks>
            <storelisting>
                <class>ABSoft_StoreListing_Block</class>
            </storelisting>
        </blocks>
        <models>
            <storelisting>
                <class>ABSoft_StoreListing_Model</class>
                <resourceModel>storelisting_mysql4</resourceModel>
            </storelisting>
            <storelisting_mysql4>
                <class>ABSoft_StoreListing_Model_Mysql4</class>
                <entities>
                    <storelocation>
                        <table>store_location</table>
                    </storelocation>
                </entities>
            </storelisting_mysql4>
        </models>
        <resources>
            <storelisting_setup>
                <setup>
                    <module>ABSoft_StoreListing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelisting_setup>
            <storelisting_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelisting_write>
            <storelisting_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelisting_read>
        </resources>
    </global>
    <admin>
        <routers>
            <storelisting>
                <use>admin</use>
                <args>
                    <module>ABSoft_StoreListing</module>
                    <frontName>admin_storelisting</frontName>
                </args>
            </storelisting>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <storelisting module="storelisting">
                <title>StoreListing</title>
                <sort_order>100</sort_order>
                <children>
                    <storelocation module="storelisting">
                        <title>Manage Storelocation</title>
                        <sort_order>0</sort_order>
                        <action>admin_storelisting/adminhtml_storelocation</action>
                    </storelocation>
                </children>
            </storelisting>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <storelisting translate="title" module="storelisting">
                            <title>StoreListing</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <storelocation translate="title">
                                    <title>Manage Storelocation</title>
                                    <sort_order>0</sort_order>
                                </storelocation>
                            </children>
                        </storelisting>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <storelisting>
                    <file>storelisting.xml</file>
                </storelisting>
            </updates>
        </layout>
    </adminhtml>
</config> 