<?xml version="1.0"?>
<config>
	  <tabs>
		<absoft translate="label" module="storelisting">
            <label>ABSoft Store location</label>
            <sort_order>0</sort_order>
        </absoft>
	  </tabs>
	  <sections>
		<store_location  translate="label" module="storelisting">                    
		<label>Store location</label>
		<tab>absoft</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>
		</store_location>
	  </sections>
</config>
