<?xml version="1.0"?>
<config>
    <modules>
        <Theappnow_Baseprice>
            <version>0.0.4</version>
        </Theappnow_Baseprice>
    </modules>
    <admin>
        <routers>
            <basepriceadmin>
                <use>admin</use>
                <args>
                    <module>Theappnow_Baseprice</module>
                    <frontName>basepriceadmin</frontName>
                </args>
            </basepriceadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <baseprice>
                    <file>baseprice.xml</file>
                </baseprice>
                <imexport>
                    <file>theappnow_imexport.xml</file>
                </imexport>

                <tierprice>
                    <file>tierprice.xml</file>
                </tierprice>
            </updates>
        </layout>
        <!--<events>-->
            <!--<model_config_data_save_before>-->
                <!--<observers>-->
                    <!--<theappnow_baseprice_save_config>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Theappnow_Baseprice_Model_Observer</class>-->
                        <!--<method>saveConfig</method>-->
                    <!--</theappnow_baseprice_save_config>-->
                <!--</observers>-->
            <!--</model_config_data_save_before>-->
        <!--</events>-->
    </adminhtml>
    <global>
        <models>
            <baseprice>
                <class>Theappnow_Baseprice_Model</class>
                <resourceModel>baseprice_mysql4</resourceModel>
            </baseprice>
            <baseprice_mysql4>
                <class>Theappnow_Baseprice_Model_Mysql4</class>
                <entities>
                    <price>
                        <table>theappnow_baseprice</table>
                    </price>
                    <tierprice>
                        <table>theappnow_tierprice</table>
                    </tierprice>
                </entities>
            </baseprice_mysql4>
        </models>
        <resources>
            <baseprice_setup>
                <setup>
                    <module>Theappnow_Baseprice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </baseprice_setup>
            <baseprice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </baseprice_write>
            <baseprice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </baseprice_read>
        </resources>
        <blocks>
            <baseprice>
                <class>Theappnow_Baseprice_Block</class>
            </baseprice>
        </blocks>
        <helpers>
            <baseprice>
                <class>Theappnow_Baseprice_Helper</class>
            </baseprice>
        </helpers>
    </global>
      <default>
        <baseprice>
            <general>
                <text_field>Default value</text_field>
                <textarea></textarea>
                <dropdown>key2</dropdown>
                <multiple_dropdown>key1,key2</multiple_dropdown>
                <time>11,30,45</time>
                <active>0</active>
                <boolean>1</boolean>
                <dependant_text_field>Default value</dependant_text_field>
            </general>
        </baseprice>
    </default>      
</config>