<?xml version="1.0"?>
<config>
    <sections>
        <baseprice translate="label" module="adminhtml">
            <label>Website config</label>
            <tab>theappnow</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>General</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <skype translate="label comment">
                            <label>Skype</label>
                            <comment>Add skype account.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skype>
                        <minimum_cart translate="label comment">
                            <label>Minimum cart</label>
                            <comment>Add minimum products in cart.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minimum_cart>
                        <tax translate="label comment">
                            <label>Tax</label>
                            <comment>Tax value in %.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tax>
						<magmi translate="label">
                            <label>Magmi folder name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Magmi folder name</comment>
                        </magmi>
                          </fields>
                </general>
            </groups>
        </baseprice>
    </sections>
</config>